.flip-front, .flip-back {
    background: var(--bg-color);
    flex-direction: column;
    width: 100%;
}

.flip-front {
    display: flex;
}

.flip-back {
    display: none;
    height: 100%;
    overflow: hidden;
}

.flip:target .flip-front {
    display: none;
}

.flip:target .flip-back {
    display: flex;
}

.flip:target .line {
    display: none;
}

/* Mobile */

@media (max-width: 1024px) {
    .line {
        display: none;
    }
}

@media (max-width: 1024px), (orientation: landscape) and (max-width: 1440px) {
    .flip:target {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border: none;
        border-radius: none;
    }
}
