form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100%;
}

form input, form textarea {
    font-family: inherit;
    font-size: inherit;
}

form input {
    width: 100%;
    min-width: 100px;
    text-align: center;
    border-radius: 0;
}

form input:not([type="checkbox"]):not([type="radio"]):not([type="range"]), form textarea {
    border: none;
    padding: 6px 10px;
    box-sizing: border-box;
}

form .grow {
    flex-grow: 1;
}

form .fullsize {
    width: 100%;
}

form select {
    border: none;
    padding: 5px 10px;

    box-sizing: border-box;
    font-size: inherit;
    background: transparent;
    
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    
    font-family: inherit;
    
    min-width: 150px;
    width: 100%;

    text-align: center;
    color: var(--font-color);



/*
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-content: stretch;
    padding: 0;
    overflow: hidden;
*/
}

form select optgroup {
    color: var(--font-color);
}

form select optgroup option:hover {
    background-color: purple;
}

form .select-wrapper {
    width: 100%;
}

form select:focus::-ms-value {
    background-color: transparent;
}

form select::-ms-expand {
    display: none;
}

form .check-wrapper {
    margin-bottom: 15px;
}

form .check-wrapper input {
    position: absolute;
}

/* Checkbox */

form input[type="checkbox"] + label:before, form input[type="radio"] + label:before  {
    content: " ";
    display: inline-block;
    box-sizing: border-box;

    width: 0.75em;
    height: 0.75em;
    border: 3px solid var(--main-color);

    margin-right: 10px;
    margin-bottom: -2px;
    border-radius: 2px;
}

form input[type="checkbox"], form input[type="radio"] {
    opacity: 0;
    z-index: -1;
    display: inline-block;
    width:0;
    cursor: pointer;
    position: absolute;
}

form .radios {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    place-content: space-evenly;
}

/*
form input[type="checkbox"]:checked + label::before, form input[type="radio"]:checked + label::before {

}
*/

form input[type="radio"] + label::before {
    border-radius: 50%;
}

form input[type="checkbox"] + label:hover, form input[type="radio"] + label:hover {
  cursor: pointer;
}

form label {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    position: relative;
    width: 100%;
    color: var(--main-color);
    line-height: 50px;
}

form label a {
    text-decoration: none;
    color: white;
    display: block;
    position: relative;
}

/* Checkmark */

.checkmark {
    display: inline-block;
    box-sizing: border-box;

    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    
    width: 0.3em;
    height: 0.5em;

    margin-left: -0.8em;
    margin-bottom: 0.1em;
    margin-right: 0.2em;
}

form input[type="checkbox"]:checked + label .checkmark,
form input[type="radio"]:checked + label .checkmark {
    border-right: 4px solid var(--main-color);
    border-bottom: 4px solid var(--main-color);
}

/* Slider */

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    height: 50px;
    background: transparent;
    box-shadow: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  background: #777;
  cursor: pointer;
  box-shadow: none;
}

input[type=range]::-moz-range-thumb {
  height: 18px;
  width: 6px;
  border-radius: 2px;
  border: 2px solid var(--main-color);
  background: white;
  cursor: pointer;
  box-shadow: none;
  transform: rotate(30deg);
}

input[type=range]::-webkit-slider-runnable-track {
  box-shadow: none;
  background: #777;
  height: 2px;
  border: none;
  border-radius: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 6px;
  border-radius: 2px;
  border: 2px solid var(--main-color);
  background: white;
  cursor: pointer;
  margin-top:-9px;
  transform: rotate(45deg);
}
