body {
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    text-align: center;
    overflow: hidden;
}

.active {
    order: 1;
    min-width: 175px;
}

.active a {
    color: #eee;
    background: #333;
}

.sources a {
    font-size: 2.5em;
}

.sources .active a {
    white-space: normal;
}

.active a span {
    font-size: 0.5em;
    font-weight: lighter;
}

[class^="color-"].active a {
    color: white;
}

hr {
    border: none;
    background: linear-gradient(90deg,#807e7c 25%,rgba(128,126,124,0) 0) 0 100%/4px 1px repeat-x;
    height: 1px;
    margin: 0 30px;
}

.multi {
    height: 100%;
    display: flex;
    align-items: stretch;
}

.multi a {
    border-radius: 0;
    border-left: 0;
}

.multi a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 2px solid var(--main-color);
}

.multi a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Hamburg */

.line { 
   position: absolute; 
   left:10px;
   height: 4px; width: 42px; 
   background: #fff; border-radius: 1px;
   display: block;
}

.line:nth-child(1) { top: 12px; }
.line:nth-child(2) { top: 24px; }
.line:nth-child(3) { top: 36px; }

/* Mobile */

@media (max-width: 1024px) {
	.flex > * {
        font-size: 1.5em;
    }
}

/* Desktop */

@media (min-width: 1025px), (orientation: landscape) {
    form .radios label {
        width: 40%;
        text-align: left;
        box-sizing: border-box;
    }
}

/* Landscape */

@media (orientation: landscape) {
    .flex > * {
        width: 30%;
    }
}
