html {
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    place-content: space-evenly;
    overflow: hidden;
}

.flex > * {
    border:2px solid #777;
    border-radius: 5px;
    font-size: 2em;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
    background: var(--bg-color);
    width: 45%;
}
